#matrix {
	width: 600px;
	color: #fff;
	background: #555;
	display: inline-block;
	padding: 1em;
	border-radius: 3px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 2px 2px 0 2px #333;
}
#matrix ul {
	background: #888;
	list-style: none;
	padding: 0;
	margin: 0;
}

#matrix .matrixBeat {
	position: inline-block;
	float: left;
	transition: all .2s ease-in-out;
}
#matrix .matrixBeatPlayed {
	background: #f23;
}

#matrix .matrixIndicator {
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 20px;
	box-sizing: border-box;
	border: solid 1px #555;
	border-top: solid 3px #555;
	border-bottom: solid 10px #555;
}

#matrix .matrixNote {
	background: #333;
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#matrix .matrixNote:hover {
	cursor: pointer;
}
#matrix .matrixNoteQueued {
	background: rgba(255, 255, 255, 0.5);
}

#matrix .controlPanel {
	width: 100%;
	display: inline-block;
	/* margin: 0 0 1em 0; *//* For positioning above matrix */
}
#matrix .controlPanelRow {
	display: block;
	padding: 1em 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
#matrix .controlPanelRow:last-child {
	padding-bottom: 0;
	border: none;
}
#matrix .inputContainer {
	color: #fff;
	background: #333;
	display: inline-block;
	border: none;
	border-radius: 3px;
	margin: 0 0.5em;
	font-size: .8em;
}
#matrix .inputContainer i {
	padding: 1em;
}
#matrix input,
#matrix button,
#matrix select {
	color: inherit;
	background: inherit;
	border: none;
	border-radius: inherit;
	outline: none;
	font-size: inherit;
}
#matrix input[type=number]::-webkit-inner-spin-button, 
#matrix input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#matrix input {
	width: 30px;
	padding: 0 1em 0 0;
}
#matrix input[type="checkbox"] {
	margin: 0;
	line-height: 1.2em;
}
#matrix input:focus,
#matrix button:focus {
	outline: none;
}
#matrix button:hover {
	background: #fe6666;
	cursor: pointer;
}
#matrix .matrixGridInput {
	width: 1.3em;
}
#matrix .matrixGridInput:last-of-type {
	margin: 0 0 0 1.2em;
}
